<mat-toolbar color="primary">
  <a routerLink=""><span>{{ title }}</span></a>
  <span class="example-spacer"></span>
  <button *ngIf="!showDeleteIcon" mat-icon-button class="add-icon" aria-label="Add icon" (click)="addEvent()">
    <mat-icon>add_box</mat-icon>
  </button>
  <button *ngIf="showDeleteIcon" mat-icon-button class="add-icon" aria-label="Add icon" (click)="edit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button *ngIf="showDeleteIcon" mat-icon-button class="add-icon" aria-label="Add icon" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>


<div class="container app-container">
  <router-outlet></router-outlet>
</div>
