<h1 mat-dialog-title>Add New Event</h1>
<form>
  <div mat-dialog-content>
    <p>Add a new event to the calendar.</p>
    <div>
      <mat-form-field>
        <input matInput placeholder="Event name" name="name" [(ngModel)]="name">
      </mat-form-field>
    </div>
    <div class="full-day-checkbox"><mat-checkbox [(ngModel)]="fullDay" name="fullDay">Full Day</mat-checkbox></div>
    <div class="choose-date">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput name="date" [(ngModel)]="date" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file">
      <span class="file-name">{{selectedFile?.name}}</span>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onSubmit()">Submit</button>
  </div>
</form>
