.small-picture-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.small-picture-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-picture-card-text {
  z-index: 100;
  background: #000000AA;
  position: absolute;
  color: white;
  padding: 1rem;
  left: 1rem;
  bottom: 1rem;
}

.small-picture-card-title {
  margin: 0;
  pointer-events: none;
}

.small-picture-card-date {
  margin: 0;
  pointer-events: none;
}
